@import '../../../style/variables';

.form-group {

  &:hover {

    .form-group-underline {

      &:before {
        width: 100%;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__label {
    font-weight: 600;
  }

  &-underline {
    position: relative;
    padding-bottom: 2px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;

      display: block;
    }

    &:before {
      height: 2px;
      background-color: $gray-900;
      z-index: 2;
      left: 50%;
      width: 0;
      transform: translateX(-50%);
      transition: ease-in-out width $transitionTime;
    }

    &:after {
      width: 100%;
      height: 1px;
      background-color: $gray-500;
      z-index: 1;
      left: 0;
    }
  }

  &__control {
    border-radius: .25rem;

    &.underlined {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      box-shadow: none;
    }

    &:focus {

      + .form-group-underline {

        &:before {
          width: 100%;
        }
      }
    }
  }

  &.has-success {

    .form-help-text,
    .form-group__label {
      color: $success2-color;
    }

    .form-group-underline {
      background-color: $success2-color;
    }
  }

  &.has-error {

    .form-help-text,
    .form-group__label {
      color: $danger-color;
    }

    .form-group-underline {
      background-color: $danger-color;
    }
  }

  .form-help-text {
    font-size: $form-help-text-font-size;
  }
}
